.stats-card {
  background-color: #f0f2f5;
  padding: 30px 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.custom-wrapper {
  width: 100%;
  overflow: hidden;
}

.today-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #76b2e7;
}

.today-text {
  margin-bottom: 10px;
}

.blog-wrapper {
  text-align: left;
}

.blog-text {
  color: #76b2e7;
}

.blog-link {
  color: #76b2e7;
}

.blog-image {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.blog-image img {
  width: 100%;
  object-fit: contain;
}
.blog-cutton {
}

/* media queries */

@media screen and (max-width: 524px) {
  .blog-text {
    font-size: 16px;
  }
  .blog-paragraph {
    font-size: 12px;
  }
  .blog-image {
    display: none;
  }
  .blog-wrapper {
    text-align: center;
  }
}
